QPushButton {
	min-height: 1.6em;
	max-height: 1.6em;
	min-width: 8em;
	max-width: 10em;
}

QLineEdit {
    min-height: 1.6em;
	max-height: 1.6em;
	min-width: 4em;
	max-width: 10em;
}

QComboBox {
	min-height: 1.6em;
	max-height: 1.6em;
    min-width: 8em;
}

QProgressBar {
	min-height: 0.8em;
	max-height: 0.8em;
}

QComboBox#cmbPlatform
{
	min-width: 16em;
}

QComboBox#cmbDevice
{
	min-width: 16em;
}